<article class="sidebar">
  <h1 class="sidebar-title">Artwork on display</h1>
  <p class="sidebar-body">
    While you attend the conference, head over to our gallery where you can check out some of the
    work from our speakers.
  </p>
  <div class="pixgrid clearfix">
    <!-- Loop through the speaker's artwork and display each image -->
    <% artwork.forEach(function (artwork, index) { %>
    <!-- We need to first reference the root directory with ..
        to get the correct image directory -->
    <img src="../images/artwork/<%=artwork%>" alt="Artwork <%=index%>" />
    <%})%>
  </div>
</article>
